[user]
	name = RodrigoMattosoSilveira
	email = r3850365@gmail.com
[core]
	excludesfile = /Users/rodrigosilveira/.gitignore_global
	hooksPath = /Users/rodrigosilveira/rmsrc/git/hooks
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
